{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All vs All</title>

    <link rel="stylesheet" type="text/css" href="../../includes/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../includes/css/site.css">
    <!-- front page specific -->
   <!-- {{ template "styles" . }} -->
</head>
<header>
    <div class="ui stackable fixed inverted menu">
        <div class="header item">
           Ryuji App
        </div>
        <div class="center menu">
            <a class="item" href="/user/overview">Overview</a>
            <div class="ui dropdown item">
                Account <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/user/edit"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item" href="/user/settings"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
            <a class="item" href="/user/history">Competition History</a>
        </div>
        
        <div class="right menu">
                <a class="item" href="/logout">Logout</a>
        </div>
    </div>    
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
</header>
<body>
    <div class="pusher">
        <div id="content" class="ui container"> 
        {{ template "content" . }}

        </div>
        <div class="ui vertical footer segment container">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <p class="copy-year">
                            <i class="copyright outline icon"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <!-- javascript includes -->
    <script src="../../includes/js/jquery-3.3.1.min.js"></script>
    <script src="../../includes/semantic/dist/semantic.min.js"></script>
    <!-- {{ template "js" . }} -->
    <script src="../../includes/js/main.js"></script> 
    
</body>
</html>
{{ end }}