{{ define "styles"}}
{{ end }} 

{{ define "js" }} 
{{ end }} 

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="active item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }}



{{ define "content" }}
<div class="ui one column centered grid">
    <div class="column">
        <img class="ui centered large image" src="/includes/images/errors/404.jpg">
    </div>
</div>
{{ end }}