{{ define "styles"}}
{{ end }} 

{{ define "js" }} 
{{ end }} 

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="active item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }}



{{ define "content" }}

<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide"></div>
    <div class="column twelve wide"></div>
    <div class="column twelve wide"></div>
    <div class="column twelve wide"></div>
    <div class="column twelve wide">

        <h2 class="ui header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <div class="column">
                {{ if . }}                        
                <div class="ui red segment inverted">
                    <li>{{.}}</li>
                </div>
                 {{ end }}
        </div>
        <form class="ui small form" method="POST" action="/login">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" id="email" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Login</button>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui green message">
            New to us?
            <a href="/sign-up">Sign Up</a>
        </div>
    </div>
</div>
{{ end }}